<div fxLayout="column">
  <mat-card fxFlex style="margin-bottom: 2%;" *ngFor="let element of moderatorService.stories">
    <mat-card-title>{{ element.name }}</mat-card-title>
    <mat-card-subtitle>Die wilde Jagd</mat-card-subtitle>
    <mat-card-actions>
      <button (click)="onBtnStart(element);" mat-button color="primary">Starten</button>
      <div fxFlex="auto"></div>
      <button (click)="onBtnArchieve(element);" mat-button color="warn">Archivieren</button>
    </mat-card-actions>
  </mat-card>
</div>
