<mat-toolbar color="primary" class="toolbar-container">
  <img class="toolbar-icon" [routerLink]="['/']" src="https://phildev.me/pnp-icon.png" alt="PnP">
  <span>
    {{ toolbarService.title }}
  </span>

  <div fxLayout="row" fxFlex="auto"></div>

  <div *ngIf="fireAuth.authState | async; else showLogin">
    <button mat-raised-button color="warn" (click)="onBtnLogout()">Logout</button>
  </div>
  <ng-template #showLogin>
    <button mat-raised-button color="warn" (click)="onBtnLogin()">Anmelden</button>
  </ng-template>
</mat-toolbar>
