<div *ngIf="fireAuth.authState | async; else showPublic">
  <mat-card class="index-card">
    <mat-card-title>
      Herzlich Willkommen, {{ fireAuth.auth?.currentUser.displayName }}
    </mat-card-title>
  </mat-card>
</div>
<ng-template #showPublic>
  <mat-card class="index-card">
    <mat-card-content fxLayout="column" fxLayoutAlign="start center">

      <h1 fxFlex style="text-align: center; font-size: 30pt;">Pen and Paper - Web</h1>
      <img src="https://phildev.me/pnp-logo.png">
    </mat-card-content>
  </mat-card>
</ng-template>
