<mat-card>
  <mat-card-title>
    Herzlich Willkommen!
  </mat-card-title>
  <mat-card-subtitle>
    Viel Spaß beim Spielen
  </mat-card-subtitle>
  <mat-card-content fxLayout="row">

    <mat-card fxFlex="48" style="background-color: #ff9999;">
      <mat-card-title>
        Moderator
      </mat-card-title>
      <mat-card-content>
        <table style="width: 100%;">
          <tr>
            <td style="width: 50%;">
              <mat-form-field style="font-size: 12pt; width: 95%;">
                <input matInput type="text" placeholder="Name">
              </mat-form-field>
            </td>
            <td style="width: 50%;">
              <mat-form-field style="font-size: 12pt; width: 95%;">
                <input matInput type="password" placeholder="Passwort">
              </mat-form-field>
            </td>
          </tr>
        </table>
      </mat-card-content>
      <mat-card-actions>
        <button routerLink="/moderator" mat-button color="primary">Anmelden</button>
        <button (click)="onBtnRegister();" mat-button color="primary">Registrieren</button>
      </mat-card-actions>
    </mat-card>

    <div fxFlex="4"></div>

    <mat-card fxFlex="48" style="background-color: #80ff80;">
      <mat-card-title>
        Spieler
      </mat-card-title>
      <mat-card-content>
        <table style="width: 100%;">
          <tr>
            <td style="width: 50%;">
              <mat-form-field style="font-size: 12pt; width: 90%;">
                <input matInput type="text" placeholder="Story-ID">
              </mat-form-field>
            </td>
          </tr>
        </table>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="primary">Beitreten</button>
      </mat-card-actions>
    </mat-card>

  </mat-card-content>
</mat-card>
